<%- include('../partials/header') %>
  <h1>Among Us</h1>
  <h3>Book One: The Impostor</h3>
  <div id="book">
    <a class="back" href="../book1/page4"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
    </svg></a>
    <h2>Chapter 3: THE FINAL IMPOSTER</h2>
    <p>There was now only 1 imposter and now there were 4 people alive. I was in electrical fixing the wires until brown came up to me. He followed me around but I lost him after like, 5 minutes of running. I hid in Admin which was where everyone else was. I didn’t trust anyone there because it could literally be anyone. But I still thought it was brown. So I called Emergency Meeting.    </p>
    <p>EMERGENCY MEETING</p>
    <p>“Where?”
      “Everywhere. No one was dead. But brown keeps following me.”
      “No!”
      “Vote brown.”
      So everyone voted for brown. Brown voted for me to try to get me out. But that didn't happen.
      </p>
      <p> BROWN IS THE IMPOSTER.
        0 IMPOSTERS REMAIN.</p>
    <a class="next" href="../book1/page6"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
    </svg></a>
  </div>
</body>
</html>