<%- include('../partials/header') %>
  <h1>Among Us</h1>
  <h3>Book One: The Impostor</h3>
  <div id="book">
    <a class="back" href="../book1/page2"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
    </svg></a>
    <h2>The Chase</h2>
    <p>The next round started. I was cleaning out the leaves that were stuck in the ship. All the sudden green came up. I moved over to shields. Green followed me around the entire ship. I started an emergency meeting. “Green was following me around the entire ship. I think it’s him” I said. “ It is him. I saw him kill lime” said pink. “Vote green,” I said. Green voted for me, but i'm not an imposter. </p>
    <p>GREEN WAS EJECTED. 2 IMPOSTERS REMAIN.</p>
    <a class="next" href="../book1/page4"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
    </svg></a>
  </div>
</body>
</html>