<%- include('../partials/header') %>
  <h1>Among Us</h1>
  <h3>Book One: The Impostor</h3>
  <div id="book">
    <a class="back" href="/amongus"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
    </svg></a>
    <h2>Chapter 1: The Halls</h2>
    <p>The day has started. We were in the Skeld. When we got out of the ship, we all ran in different places. I ran to security to check the cameras. I saw someone walk to me so I ran to the reactor. I think I know who the imposter is. I did some tasks: I fixed the wires and did some other things. Then I saw a body in Admin. Cyan was dead. I reported the body. I wondered who killed cyan. Then I thought I knew who the imposter was. Blue.  It had to be blue. I watched him follow cyan everywhere.</p>
    <a class="next" href="../book1/page2"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
    </svg></a>
  </div>
</body>
</html>