<%- include('../partials/header') %>
  <h1>Among Us</h1>
  <h3>Book One: The Impostor</h3>
  <div id="book">
    <a class="back" href="../book1/page3"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
    </svg></a>
    <h2>Chapter 2: DEAD BODIES EVERYWHERE</h2>
    <p>After I reported the body all the people said who or where. Of course,  I said “Admin. Cyan was dead. I think I know who the imposter is. Blue”. Then I said “vote blue. The evidence is he was following cyan”. And there was only one left. It was blue. Everyone voted blue. There was only one left to vote. It was blue.</p>
    <p>BLACK WAS AN IMPOSTER. 2 IMPOSTERS REMAIN.</p>
    <a class="next" href="../book1/page5"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
    </svg></a>
  </div>
</body>
</html>